@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3" style="text-align: center;">
  <img src="https://wallpaperplay.com/walls/full/d/5/2/15062.jpg" class="card-img-top" alt="Favorite Super Hero Image">
  <div class="card-body">
    <h5 class="card-title">I am Batman!</h5>
    <p class="card-text">In the name of his murdered parents, Bruce Wayne wages eternal war on the criminals of Gotham City. He is vengeance. He is the night. He is Batman.</p>
  </div>
</div>